/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700'); */
/* * {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
} */
.idv{
  /* align-self: center; */
  /* justify-content: center; */
  width: 50%;
  height: 50%;
  text-align: center;
  align-items: center;
  margin-top: 15%;
  margin-left: 25%;
  background-color: antiquewhite;

}
.bt{
  width: 150px;
  height: 40px;
  
  justify-content: center;
  align-items: center;
}


  